// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
// Copyright (c) 2018, Robert Marko <robimarko@gmail.com>

#include "qcom-ipq4019.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/soc/qcom,tcsr.h>

/ {
	aliases {
		// TODO: Verify if the ethernet0 alias is needed
		ethernet0 = &gmac;
		ethernet1 = &swport5;
	};

	soc {
		counter@4a1000 {
			compatible = "qcom,qca-gcnt";
			reg = <0x4a1000 0x4>;
		};


		tcsr@194b000 {
			status = "okay";

			compatible = "qcom,tcsr";
			reg = <0x194b000 0x100>;
			qcom,usb-hsphy-mode-select = <TCSR_USB_HSPHY_HOST_MODE>;
		};

		ess_tcsr@1953000 {
			compatible = "qcom,tcsr";
			reg = <0x1953000 0x1000>;
			qcom,ess-interface-select = <TCSR_ESS_PSGMII>;
		};

	};
};

&watchdog {
	status = "okay";
};

&prng {
	status = "okay";
};

&crypto {
	status = "okay";
};

&qpic_bam { //added
	status = "okay"; //added
}; //added
&tlmm {

pulldowns {
			pins = "gpio57", "gpio60", "gpio61",
			       "gpio62", "gpio63", "gpio64",
			       "gpio65", "gpio66", "gpio67",
			       "gpio68", "gpio69"; //"gpio54", "gpio55", "gpio56",
			function = "qpic";
			bias-pull-down;
		};
	nand_pins: nand-pins {
		pullups {
			pins = "gpio52", "gpio53", "gpio58", "gpio59";
			function = "qpic";
			bias-pull-up;
		};};
		
	gpio-leds {
    compatible = "gpio-leds";
    led-orange {
        label = "Extreme ap-dk01.1-c1:orange:status";
        gpios = <&tlmm 556 GPIO_ACTIVE_HIGH>;  /* tlmm IS correct for IPQ4018 */
        default-state = "off";
    };
    led-green {
        label = "Extreme ap-dk01.1-c1:green:power";
        gpios = <&tlmm 555 GPIO_ACTIVE_HIGH>;
        default-state = "on";
    };
    led-blue {
        label = "Extreme ap-dk01.1-c1:blue:wlan";
        gpios = <&tlmm 554 GPIO_ACTIVE_HIGH>;
        default-state = "off";
    };
};



    ethernet_power: ethernet-power {
        pins = "gpio518";
        function = "gpio";
        drive-strength = <2>;
        bias-disable;
        output-high;
    };
	mdio_pins: mdio_pinmux {
		pinmux_1 {
			pins = "gpio6"; //net worked after comment. good says pins = "gpio6";
			function = "mdio";
		};

		pinmux_2 {
			pins = "gpio7";// net worked after comment. good says pins = "gpio7";
			function = "mdc";
		};

		pinconf {
			pins =  "gpio53"; //"gpio52", net worked after comment
			bias-pull-up;
		};
	};

	serial_pins: serial_pinmux {
		mux {
			pins = "gpio16", "gpio17"; //net worked after comment. . good says 		pins = "gpio16", "gpio17";
			function = "blsp_uart0";
			bias-disable;
		};
	};

	spi_0_pins: spi_0_pinmux {
		pin {
			function = "blsp_spi0";
			pins = "gpio13", "gpio14", "gpio15"; //net worked after comment
			drive-strength = <12>;
			bias-disable;
		};

		pin_cs {
			function = "gpio";
			pins = "gpio12";// "gpio54","gpio59"; net works after comment
			drive-strength = <2>;
			bias-disable;
			output-high;
		};
	};
};

&blsp_dma {
	status = "okay";
};

&blsp1_spi1 {
	status = "okay";

	pinctrl-0 = <&spi_0_pins>;
	pinctrl-names = "default";
	cs-gpios = <&tlmm 12 GPIO_ACTIVE_HIGH>;
//cs-gpios = <&tlmm 54 GPIO_ACTIVE_HIGH>, <&tlmm 59 GPIO_ACTIVE_HIGH>;
};

&nand {
		status = "okay";

		//compatible = "jedec,spi-nor";
		//reg = <0>;
		//spi-max-frequency = <24000000>;
	nand@0 {
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "sbl1";
				reg = <0x000000000000 0x000000100000 >;
				read-only;
			};

			partition@100000 {
				label = "mibib";
				reg = <0x000000100000 0x000000100000>;
			};

			partition@200000 {
				label = "bootcfg";
				reg = <0x000000200000 0x000000100000>;
			};

			partition@300000 {
				label = "qsee";
				reg = <0x000000300000 0x000000100000>;
				read-only;
			};

			partition@400000 {
				label = "qsee_alt";
				reg = <0x000000400000 0x000000100000>;
			};

			partition@500000 {
				label = "cdt";
				reg = <0x000000500000 0x000000080000>;
			};

			partition@580000 {
				label = "cdt_alt";
				reg = <0x000000580000 0x000000020000>;
			};

			partition@600000 {
				label = "ddrparams";
				reg = <0x000000600000 0x000000080000>;
			};
            
            partition@680000 {
                label = "appsblenv";
                reg = <0x000000680000 0x000000020000>;
            };

            partition@700000 {
                label = "bootstrap";
                reg = <0x000000700000 0x000000200000>;
            };

            partition@900000 {
                label = "boot1";
                reg = <0x000000900000 0x000000100000>;

            };

            partition@a00000 {
                label = "boot2";
                reg = <0x000000a00000 0x000000100000>;

            };

           art: partition@b00000 {
                label = "art";
                reg = <0x000000b00000 0x000000080000>;
                read-only;
            };

			partition@b80000 {
				label = "ubi";
				reg = <0x000000b80000 0x0001e480000>; /* full remaining NAND */
			};


			partition@12d80000 {
				label = "var2";
				reg = <0x000012d80000 0x00002200000>;   /* length = ~34 MB */
			};

			partition@14f80000 {
				label = "etc2";
				reg = <0x000014f80000 0x00004000000>;   /* length = 64 MB */
			};

			partition@18f80000 {
				label = "flash";
				reg = <0x000018f80000 0x00005400000>;   /* length = ~83 MB */
			};

			partition@1e380000 {
				label = "panic";
				reg = <0x00001e380000 0x00001c80000>;   /* length = ~28 MB */
			};
		};

	
			};
		};
	


&blsp1_uart1 {
	status = "okay";

	pinctrl-0 = <&serial_pins>;
	pinctrl-names = "default";
};

&cryptobam {
	status = "okay";
};

&mdio {
	status = "okay";
	pinctrl-0 = <&mdio_pins>;
	pinctrl-names = "default";
};

&gmac {
	status = "okay";
};

&switch {
	status = "okay";
};

&swport4 {
	status = "okay";

	label = "lan";
};

&swport5 {
	status = "okay";
};

&wifi0 {
    compatible = "qcom,ipq4019-wifi";
    status = "okay";
    qcom,ath10k-calibration-variant = "ap-dk01.1-c1";
	 nvmem-cells = <&precal_art_1000>;
    nvmem-cell-names = "pre-calibration";

};


&wifi1 {
	status = "okay";
	compatible = "qcom,ipq4019-wifi";
	    qcom,ath10k-calibration-variant = "ap-dk01.1-c1";
	 nvmem-cells = <&precal_art_5000>;
    nvmem-cell-names = "pre-calibration";
};

&art {
    compatible = "nvmem-cells";
    #address-cells = <1>;
    #size-cells = <1>;
precal_art_1000: precal_art_1000@1000 {
    reg = <0x1000 0x2f20>;
};

precal_art_5000: precal_art_5000@5000 {
    reg = <0x5000 0x2f20>;
};
};
&usb3 {
	status = "okay";
};

&usb3_ss_phy {
	status = "okay";
};

&usb3_hs_phy {
	status = "okay";
};

&usb2 {
	status = "okay";
};

&usb2_hs_phy {
	status = "okay";
};
